* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ab;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h1,
h2,
h3 {
  color: #1098ab;
}

h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}

.main-header {
  text-align: center;
  background-color: #f7f7f7;
  padding: 40px 20px;
  /* margin-bottom: 40px; */
  /* padding-top: 20px; */
  height: 30px;
}

.postheader {
  margin-bottom: 40px;
}

nav a:link {
  margin-right: 30px;
  display: inline-block;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}

/* article {
  margin-bottom: 60px;
} */

h1 {
  font-size: 26px;
  float: left;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 22px;
  margin-left: 15px;
  line-height: 1.5;
}

ol,
ul {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0px;
}

#author {
  font-style: italic;
  font-size: 18px;
}

.copyright {
  font-size: 15px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
  margin-left: 0%;
}
.ordered-list {
  list-style: none;
}

li:first-child {
  font-weight: bold;
}

li:nth-child(4) {
  font-style: italic;
}

a:link {
  color: #1098ad;
  text-decoration: none #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline solid orangered;
}

a:visited {
  color: #1098ad;
}

nav {
  font-size: 18px;
  float: right;
}

.post-image {
  width: 100%;
  height: auto;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

/* FLOATS */

/* .author {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
  float: left;
}

.author-image {
  float: left;
}

article {
  width: 825px;
  float: left;
}

aside {
  width: 300px;
  float: right;
}

footer {
  clear: both;
} */

/* FLEX BOX PROPERTIES */

/* .main-header {
   display: flex; 
  align-items: center;
  justify-content: space-between;
}

.authorbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.related-link :link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
}

.related-author {
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
} */

/* CSS GRID */

.container {
  background-color: #ffe70e;
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
}

.main-header {
  grid-column: 1 / span 3;
}

/* article {
} */

aside {
  background-color: red;
  /* grid-column: 2 / span 1; */
  grid-column: 2 / span 1;
  align-self: start;
}

footer {
  background-color: aqua;
  grid-column: 1 / span 2;
}
